<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bifid is a Lightweight Encryption Algorithm for Secure data transfer
and storage.
The shortcomings of the cloud and IoT in terms of constrained
devices are highlighted. There in fact exist some lightweight
cryptography algorithms that does not always exploit security-efficiency
trade-offs.">
    <meta name="author" content="Team-Bifid">
    <link rel="shortcut icon" href="img/logo.png">
    <title>Bifid-Crypt</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bifid-Crypt</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Advantages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login | Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Bifid-Crypt</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Cyber Security J-component: This is an implementation of bifid cipher in cloud. <br> <b>Secure Cloud Computing Using Bifid Cipher</b></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">About Bifid</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-xl js-scroll-trigger" target="_blank" href="/login">Get Started</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about" style="padding-top: 20; padding-bottom: 20;">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2 class="section-heading text-white">About Bifid</h2>
            <hr class="light my-4">
            <p class="text-faded mb-6">The bifid cipher is a <b>cipher which combines the Polybius square
with transposition, and uses fractionation to achieve diffusion.</b>
First, the letters of the message are converted into numbers
(the number of the row and the number of the column) using
the Polybius square created on the basis of a keyword.</p>
            <p class="text-faded mb-6">The
numbers are written vertically below the message. Then the
numbers are read off horizontally and grouped into pairs. The
Polybius square is used again to convert the numbers back into
letters which is the cipher-text.</p>
            <p class="text-faded mb-6"><b>The bifid ciphers encrypt a
message in a way that makes it fairly difficult to decipher
without knowing the secret.</b> This is because each letter in the
cipher-text message is dependent upon two letters from the
plain-text message. As a result, frequency analysis of letters
becomes much more difficult.</p> <br>
            <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="https://madhavbahlmd.github.io/Secure-cloud-comuting-using-bifid-cipher/">See Complete Proceedure</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2 class="section-heading text-center">Objective</h2>
            {{!-- <hr class="my-4"> --}}
            <hr class=" my-4">
            <p class="text-muted mb-0">Cloud Storage is a service where data is remotely maintained, managed, and backed up. The service allows the users to store files online, so that they can access them from any location via the Internet. In recent days, almost everyone is moving towards cloud storage and cloud computing, According to a recent survey conducted with more than 800 business decision makers and users worldwide, the number of organizations gaining competitive advantage through high cloud adoption has almost doubled in the last few years and by 2017, the public cloud services market is predicted to exceed $244 billion.</p>
           <br> <p class="text-muted mb-0">The
numbers are written vertically below the message. Then the
numbers are read off horizontally and grouped into pairs. The
Polybius square is used again to convert the numbers back into
letters which is the cipher-text.</p> <br>
            <p class="text-muted mb-0">Invented by Felix Blessed Virgin Delastelle (1840 - 1902), though divided microorganism word [Ame05 Kah67] has never been used for any "serious applications, it's become among the foremost widespread passwords "Amateur" cryptographers.</p> <br>
            {{!-- <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="https://madhavbahlmd.github.io/Secure-cloud-comuting-using-bifid-cipher/">See Complete Proceedure</a> --}}
          </div>
        </div>
      </div>
      
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  {{!-- <div class="project-category text-faded">
                    Category
                  </div> --}}
                  <div class="project-name">
                    Confidentiality And Authentication
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  {{!-- <div class="project-category text-faded">
                    Category
                  </div> --}}
                  <div class="project-name">
                    Faster And Smoother
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  {{!-- <div class="project-category text-faded">
                    Category
                  </div> --}}
                  <div class="project-name">
                    High availability and Secure
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  {{!-- <div class="project-category text-faded">
                    Category
                  </div> --}}
                  <div class="project-name">
                    Reliable And Flexible
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  {{!-- <div class="project-category text-faded">
                    Category
                  </div> --}}
                  <div class="project-name">
                    Well Structured
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  {{!-- <div class="project-category text-faded">
                    Category
                  </div> --}}
                  <div class="project-name">
                    Automated Cipher Text
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Liked the project, fork on GitHub</h2>
        <a class="btn btn-light btn-xl sr-button" target="_blank" href="https://github.com/MadhavBahlMD/Secure-cloud-comuting-using-bifid-cipher">Download Now!</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Dont hesitate to send us an email in case of any query or feedback</p>
          </div>
        </div>
        <div class="row">
            <form action="/sendMail" style="width: 100%;" method="POST">
                <div id="mobile30" class="text-center col-xs-12 col-sm-6 ">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" name="message" rows="5" id="message"></textarea>
                    </div>
                    <button type="submit" id="sendMailBTN" class="btn btn-dark btn-xl sr-button">Submit</button>
                </div>
            </form>

          {{!-- <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p></p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div> --}}
        </div>
      </div>
    </section>

    <section id="footer">
        <div style="width: 100%;">
            <div class="text-center">
                <h5>Project made with <i class="fas fa-heart"></i> by Team Bifid</h5>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
