<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sankshep is an 
    organization which aims to educate the world and 
    help students, teachers and educators across the 
    globe meet their goals. We aim to use our intelligent 
    technological solutions to benefit anybody with the will 
    to learn. At Sankshep, we design AI systems that take study 
    notes from a variety of multimedia sources which include but 
    are not restricted to mp3 files, 
    youtube videos and textual material.">
    <meta name="author" content="Team-Sankshep">
    <link rel="shortcut icon" href="img/logo.png">
    <title>Sankshep</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img id="logoImage" src="img/logo_small.png"  ></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px;" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px;" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px;" href="/getNotes">Get Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px;" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="bottomWheel">
     <img src="img/pattern.png" id="wheel" alt="">
   </div>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <img src="img/logo_big.png" id="mainImg" alt="SANKSHEP">
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto" style="margin-top: -50px;">
            
            <a class="btn btn-primary btn-xl js-scroll-trigger" style="margin-top: 10px;" href="#about">Know More</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-xl js-scroll-trigger" style="margin-top: 10px;"  target="_blank" href="/getNotes">Get Started</a>

            <br>
            <br><br><br><br> <br><br>

            {{!-- <div class="enjoy-css" placeholder="Enjoy" >
              <p style="margin: 0;">Search Notes</p>
            </div> --}}

            <div class="search-area">
              
              <input type="search" id="title" placeholder="Search">
              <i id="search" class="search fa fa-search fa-2x"></i>
            </div>


          </div>
        </div>
      </div>
    </header>

   

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12 offset-lg-1 text-center">
            <h2 class="section-heading text-center"><b>About Us</b></h2>
            {{!-- <hr class="my-4"> --}}
            <hr class=" my-4">
            <p class="text-muted mb-0">Sankshep is an organization which aims to educate the world and help students, teachers and educators across the globe meet their goals. We aim to use our intelligent technological solutions to benefit anybody with the will to learn. At Sankshep, we design AI systems that take study notes from a variety of multimedia sources which include but are not restricted to mp3 files, youtube videos and textual material.</p>
           <br> <p class="text-muted mb-0">Taking the right notes from a professor’s lecture is never an easy task, not to mention the amount of effort and time it requires and barriers involving language. Our aim to remove these barriers so that every student has the access to quality textual material in minimum time regardless of any language barricade.</p> <br>
            
            {{!-- <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="https://madhavbahlmd.github.io/Secure-cloud-comuting-using-bifid-cipher/">See Complete Proceedure</a> --}}
          </div>

          <div class="col-lg-3 hidden-sm text-center">

            <img src="img/kid.png" class="kidTilt" style="padding-left: 40px;" alt="">
          </div>
        </div>
      </div>
      
    </section>

     <section class="bg-primary" id="about" style="padding-top: 20; padding-bottom: 20;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 hidden-sm text-center">

            <img src="img/kid2.png" id="iseHataao" class="kidTilt-2" style="padding-left: 40px; width: 180%;" alt="">
          </div>

          <div class="col-lg-6 offset-lg-2  text-center">
            <h2 class="section-heading text-white"><b>Our Objectives</b></h2>
            <hr class="light my-4">
            <p class="text-faded mb-6">
              <b>TRUST</b> <br>
              We act with integrity and independence by holding ourselves and each other accountable, ethical, and reliable in all that we do.
            </p>
            <p class="text-faded mb-6">
              <b>INNOVATION</b> <br>
              We innovate to serve our customers, drive our growth, and help educators and students around the globe achieve their aim.
            </p>
            <p class="text-faded mb-6">
              <b>PERFORMANCE</b> <br>
              We deliver results and we excel at work that positively affects the scenario world.
            </p> <br>
            <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="#">See Complete Proceedure</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services" style="padding: 30px; padding-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <h2 class="section-heading text-center"><b>Frequently Asked Questions</b></h2>
            {{!-- <hr class="my-4"> --}}
            <hr class=" my-4">
            <br>
          </div>
      <br> <br>
          <div class="col-sm-12 col-lg-6 text-center">
            <p><b>What is Sankshep?</b></p>
            <p style="color: #616161;">We’re a community that helps you to convert text or even videos on YouTube to textual study material that is easy to access and saves time.
How can we help you study smart?</p>
          </div>
<br><br>
          <div class="col-sm-12 col-lg-6 text-center">
            <p><b>Our Objectives?</b></p>
            <p style="color: #616161;">Trust, Innovation, and Performance. We innovate to serve our customers, drive our growth, and help educators and students around the globe achieve their aim.</p>
          </div>

          <div class="col-sm-12 col-lg-6 text-center">
            <p ><b>How can we help you study smart?</b></p>
            <p style="color: #616161;">We can convert any YouTube videos or text files into short notes. This will save a lot of your time, so you can focus on and study the concepts. The user can also access other people’s notes and one can easily find relevant material that is classified by ratings from students across the globe. </p>
          </div>
<br> <br>
          <div class="col-sm-12 col-lg-6 text-center">
            <p><b>Is Sankshep really free and open?</b></p>
            <p style="color: #616161;">Yes. Personal usage of Sankshep is free. Anyone can upload text or video links and get it converted into textual study material completely for free. You can also access other people notes. (We don’t believe in restricting knowledge).
              Although, usage of sankshep at a commercial level is paid.
            </p>
          </div>
<br> <br>
          <div class="col-sm-12 col-lg-6 offset-lg-3 text-center">
            <p><b>I’m a teacher or an employee. Is sankshep an appropriate resource for my work?</b></p>
            <p style="color: #616161;">Yes. Many teachers and employees from all over the world can use this application to convert the random text files to notes for their day to day work .We are open source, so no license or special permission from us in necessary.</p>
          </div>
<br> <br>
          

        
        </div>
      </div>
      
    </section>


    <section class="bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">Liked the project, fork on GitHub</h2> <br>
        <a class="btn btn-light btn-xl sr-button" target="_blank" href="https://github.com/MadhavBahlMD/sankshep">Download Now!</a>
      </div>
    </section>

    <section id="contact" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Dont hesitate to send us an email in case of any query or feedback</p>
          </div>
        </div>
        <div class="row">
            <form action="/sendMail" style="width: 100%;" method="POST">
                <div id="mobile30" class="text-center col-xs-12 col-sm-6 ">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input style="padding: 10px; height: 40px;" type="name" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input style="padding: 10px; height: 40px;" type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" rows="5" id="message"></textarea>
                    </div>
                    <button type="submit" id="sendMailBTN" class="btn btn-dark btn-xl sr-button">Submit</button>
                </div>
            </form>

          {{!-- <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p></p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div> --}}
        </div>
      </div>
    </section>

    <section id="footer">
        <div style="width: 100%;">
            <div class="text-center">
                <h5 style="margin-bottom: 0;" >Project made with <i class="fas fa-heart"></i> by Team Athena</h5>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/tilt.jquery.js"></script>
    <script src="js/tiltIt.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="js/rotate.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>

  </body>

</html>
