<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Sankshep is an 
    organization which aims to educate the world and 
    help students, teachers and educators across the 
    globe meet their goals. We aim to use our intelligent 
    technological solutions to benefit anybody with the will 
    to learn. At Sankshep, we design AI systems that take study 
    notes from a variety of multimedia sources which include but 
    are not restricted to mp3 files, 
    youtube videos and textual material.">
    <meta name="author" content="Team-Sankshep">
    <link rel="shortcut icon" href="img/logo.png">
    <title>Sankshep | Upload </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    {{!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="css/video.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: #2e1149;">
      <div class="container">
        <a style="color: white;"class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo_small.png" style="margin-top: 5px; height: 32px;" ></a>
        <button style="color: white;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color: white;" class="navbar-toggler-icon"></span>
        </button>
        <div style="color: white;" class="collapse navbar-collapse" id="navbarResponsive">
          <ul id="navUl" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: white; font-size: 16px;" href="/">Home</a>
            </li>
            <div class="col-sm-12 col-md-12">
                <form action="/searchKeys" method="POST" class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchBox" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button id="searchBtn"  class="btn btn-default" type="submit"><i  class="fa fa-search"></i></button>
                    </div>
                </div>
                </form>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row" style="">
        <div class="col-xs-10 offset-xs-1 col-md-4 offset-md-1" style="padding-top: 8%;">
            <br>
            <form action="/getTextSummary" method="post">
                <div class="form-group">
                    {{!-- <label for="usr">Name:</label> --}}
                    <input style="" type="text" id="customInput" name="title" class="form-control" placeholder="Enter Title" >
                </div>
                <br>
                <textarea style="" type="text" id="customInput" rows=6  name="text" class="form-control" placeholder="Enter Your Own Text Material" ></textarea>
                <br>
                <div class="center">
                    <input type="submit" class="circle">
                </div>
                
                
            </form>
        </div>
        <div class="col-xs-12 col-md-6 offset-sm-1 hidden-xs">
            <br>
            <img id="#punjabiKid" src="img/icons/punbjabikidt.png"class="img-fluid punjabi" alt="">
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/tilt.jquery.js"></script>

      <!-- Custom scripts for this template -->
    <script src="js/punjabiTilt.js"></script>
    
</body>
</html>